<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Brent Prices Data</title>
	</head>
	<body>
		<div class="prices-container">

			<h1 class="main-title">Brent Prices Data</h1>
			<table class="content-table">
				<thead>
					<tr>
						<th>Date</th>
						<th>Settle Price</th>
					</tr>
				</thead>
				<tbody>
					{{#each prices}}
						<tr>
							<td>{{this.date}}</td>
							<td>{{this.settle}}</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>

	</body>
	<script src="/js/prices.js"></script>
</html>